@media screen and (max-width: 768px) {
    .__image-1{
        display: none;
    }

    .__col-main{
        border-radius: 0.75rem;
    }
}

@media screen and (min-width: 768px) {
    .__image-2{
        display: none;
    }
    
    .__image-1{
        height: 100% !important;
    }

    .__hero-header h1{
        padding-right: 2.40rem;
    }
}



@media screen and (min-width: 1200px) {
    .__hero-header h1{
        padding-right: 7rem;
    }

  }

  @media screen and (min-width: 1399px) {
    body{
        font-size: larger ;
    }

    .__hero-header h1{
        padding-right: 6rem;
    }

  } 

  /* TO DO - READJUST FOR H1 */