@media screen and (max-width: 768px) { /* <=768px - For Mobiles */
    /* .__image-1 {
        height: 100% !important;
    } */
    .__col-main {
        border-radius: 1rem;
    }
} 

@media screen and (min-width: 768px) { /* >= 768px - For Tablets & Up */
    .__image-1 {
        height: 100% !important;
    }
    .__hero-header h1 {
        padding-right: 2.40rem;
    }
} 

@media screen and (min-width: 1200px) { /* >= 1200px - For Laptop & Up */
    .__hero-header h1 {
        padding-right: 7rem;
    }
} 

@media screen and (min-width: 1399px) { /* >= 1399px - For Desktop & Up */
    body {
        font-size: larger;
    }
    .__hero-header h1 {
        padding-right: 6rem;
    }
} 