:root{
    --bg_theme: #F2EBE3;
    --primary_color: #3C8067;
}
html, body{
    background-color: var(--bg_theme);
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.__col-main{
    background-color: #fff;
    border-radius: 1rem 0 0 1rem ;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.5);
}

/***** CTN-2 - Main Styles *****/
.__hero-header h1, .__hero-prices{
    font-family: 'Fraunces', serif;
}
.__hero-header h3{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

/***** CTN-2 - Prices Section *****/ 
.__hero-prices{
    color: var(--primary_color);
}

/***** CTN-2 - Button Section *****/ 
.__main-btns{
    background-color: var(--primary_color);
    border: 0.5px solid #1C232B !important;
}
.__main-btns:hover{
    background-color: #204434 !important;
}